<body>
    <h1>Correo electrónico enviado con éxito</h1>
    <p>Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña. Por favor, revisa tu bandeja de entrada.</p>
    <a href="/users/login">Volver al inicio de sesión</a>
</body>